main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-background {
    background: hsl(39, 100%, 32%);
    border: none;
    border-radius: 10%;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.button-front {
    background: hsl(43, 100%, 47%);
    display: block;
    border-radius: 10%;
    padding: 20px 35px;
    transform: translateY(-6px);
    transition: all 0.05s ease;
    font-size: 2rem;
}

.button-background:active .button-front {
    transform: translateY(-2px);
}
